/*esto es un comentario*/
/*RESPONSIVE DESING*/
/*****************estilos generales************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 226, 197);
    margin: 0;
}
/***************************
desktop
****************************/

@media (min-width: 1024px){/*desktop*/





h1{
    font-size: 3rem;
}

header, #productos, #servicios, aside, footer{
    padding: 3px;
    
}

header{
    background-color: orange;
    border-top: 5px solid red;
    border-right: 10px solid rgb(102, 226, 102);
    border-left: 10px solid yellow;
    border-bottom: 5px solid rgb(94,174,221);
    margin: 10px 12px 10px 12px;
    padding: 50px 100px;
}

#titulo{/*titulo del header*/
    padding: 1px 1px; 
    font-size: 55px;
}

.imgs{
    padding: 3%;
}

span{/*BOTONES DE LA BARRA DE NAVEGACION*/
    background-color: white;
    color: orange;
    border-bottom: 2px double;
    border-radius: 10px;
    margin: 8px 25px;
    padding: 5px 5px;
    font-size: 19px;
}

#botones-nav :hover{
    background-color: lightgoldenrodyellow;
}

nav{/*barra de navegacion*/
    padding: 10px;
    margin: 5px 10px;
    background-image: linear-gradient(to left, orange, yellow);
    border-radius: 14px;
    
}

#productos, #servicios{
    border-radius: 14px;
    background-image: linear-gradient(rgb(101, 188, 130), lightblue);
    padding: 25px 40px;
    margin: 10px;
    text-align: justify;
    letter-spacing: 5px;
    
}
#servicios{
    background-color: yellow;
}


aside{/*caja lateral derecha*/
    background-image:linear-gradient(orange,rgb(216, 131, 131));
    border: 1px solid orange;
    border-radius: 14px;
    text-align: justify;
    letter-spacing: 5px;
    padding: 25px;
    margin: 10px 5px;
}

.titulos {/*titulos de los textos*/
    font-style: italic;
    font-size: 45px;
    padding: 3%;
}
#tituloAside{
    font-size: 35px;
}
footer{/*caja del footer*/
    background-image: linear-gradient(to left, orange, rgb(241, 226, 197));
    padding: 20px;
    border-radius: 14px;
    text-align: center;
    font-size: 18px;
}

#redes{
    font-size: 25px;

}

.carrusel-productos{
    margin: 5% 5%;
    border-radius: 15%;
}


.formulario{
    margin: 15%;
}
.publicidad{
    margin: 15%;
}
.tablas{
    margin: 5% 0%;
}
/******************grids****************/




/*************flex*************/


header{ 
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
  
}


   


#productos{
    display: flex;
    flex-flow: column wrap;
}

#servicios{
    display: flex;
    flex-flow:column wrap;
}
aside{
    display: flex;
    flex-flow:column wrap;
}

.card{
    display: flex;
    flex-direction: column;
    justify-items: stretch;
}


footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

}
#redes{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 4px;
    margin-top: 3px;
}


}

/*********************************
tablet
**********************************/

@media (min-width: 480px) and (max-width: 1023px){

  
    
    h1{
        font-size: 3rem;
    }
    
    header, #productos, #servicios, aside, footer{
        padding: 10px;
        
    }
    
    header{
        background-image: linear-gradient(to left, orange, rgb(241, 226, 197));
        border-top: 5px solid red;
        border-right: 10px solid rgb(102, 226, 102);
        border-left: 10px solid yellow;
        border-bottom: 5px solid rgb(94,174,221);
        margin: 10px 12px 10px 12px;
        padding: 50px 100px;
    }
    
    header{
    background-color: orange;
    border-top: 5px solid red;
    border-right: 10px solid rgb(102, 226, 102);
    border-left: 10px solid yellow;
    border-bottom: 5px solid rgb(94,174,221);
    margin: 10px 12px 10px 12px;
    padding: 50px 100px;
}
    #titulo{/*titulo del header*/
        padding: 1px 1px; 
        font-size: 50px;
    }
    
    
    
    span{/*BOTONES DE LA BARRA DE NAVEGACION*/
        background-color: white;
        color: orange;
        border-bottom: 2px double;
        border-radius: 10px;
        margin: 8px 25px;
        padding: 5px 5px;
        font-size: 19px;
    }
    
    span :hover{
        background-color: lightblue;
    }
    
    nav{/*barra de navegacion*/
        padding: 10px;
        margin: 5px 10px;
        background-image: linear-gradient(to left, orange, yellow);
        border-radius: 14px;
    }
    
    #productos, #servicios{
        border-radius: 14px;
        background-image: linear-gradient(rgb(101, 188, 130), lightblue);
        padding: 25px 40px;
        margin: 10px;
        text-align: justify;
        letter-spacing: 5px;
       
    }
    #servicios{
        background-color: yellow;
    }
    
    
    aside{/*caja lateral derecha*/
        background-image:linear-gradient(orange,rgb(216, 131, 131));
        border: 1px solid orange;
        border-radius: 14px;
        text-align: justify;
        letter-spacing: 5px;
        padding: 25px 40px ;
        margin: 10px 10px 25px 10px;
    }
    .titulos {/*titulos de los textos*/
        font-style: italic;
        font-size: 25px;
        padding: 3%;
    }
    
    #tituloAside{
        font-size: 18px;
    }
    footer{/*caja del footer*/
        background-image: linear-gradient(to left, orange, rgb(241, 226, 197));
        padding: 20px;
        border-radius: 14px;
        text-align: center;
        font-size: 18px;
    }
    
    #redes{
        font-size: 25px;
    
    }
    /******************grids****************/
    
    #grid-area{
     
    
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 10% 45% 45% 15%;
    
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    
    }
    

    
    /*************flex*************/
    
    
    header{ 
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
      
    }
    
    nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    
    footer{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    
    }
    #redes{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-evenly;
        padding: 4px;
        margin-top: 3px;
    }
}


/**********************************
smarthphone
***********************************/

@media (max-width: 479px){/*smartphone*/
    


h1{
    font-size: 3rem;
}

header, #productos, #servicios, aside, footer{
    padding: 10px;
    
}

header{
    background-image: linear-gradient(to left, orange, rgb(241, 226, 197));
    border-top: 5px solid red;
    border-right: 10px solid rgb(102, 226, 102);
    border-left: 10px solid yellow;
    border-bottom: 5px solid rgb(94,174,221);
    
}

#titulo{/*titulo del header*/
    padding: 1px 1px; 
    font-size: 50px;
}



#botones-nav{/*BOTONES DE LA BARRA DE NAVEGACION*/
    background-color: white;
    color: orange;
    border-bottom: 2px double;
    border-radius: 10px;
    margin: 1%;
    padding: 3% 3%;
    font-size: 10px;
}

span :hover{
    background-color: lightblue;
}

nav{/*barra de navegacion*/
    padding: 5px;
    margin: 5px 3px;
    background-image: linear-gradient(to left, orange, yellow);
    border-radius: 14px;
}

#productos, #servicios{
    border-radius: 14px;
    background-image: linear-gradient(rgb(101, 188, 130), lightblue);
    padding: 25px 40px;
    margin: 10px;
    text-align: justify;
    letter-spacing: 5px;
   
}
#servicios{
    background-color: yellow;
}


aside{/*caja lateral derecha*/
    background-image:linear-gradient(orange,rgb(216, 131, 131));
    border: 1px solid orange;
    border-radius: 14px;
    text-align: justify;
    letter-spacing: 5px;
    padding: 25px 40px ;
    margin: 10px 10px 250px 10px;
}

.titulos {/*titulos de los textos*/
    font-style: italic;
    font-size: 25px;
    padding-bottom: 10%;
}
#tituloAside{
    font-size: 22px;
}
footer{/*caja del footer*/
    background-image: linear-gradient(to left, orange, rgb(241, 226, 197));
    padding: 20px;
    border-radius: 14px;
    text-align: center;
    font-size: 18px;
}

#redes{
    font-size: 25px;

}
/******************grids****************/

#grid-area{
    display: grid;
    grid-template-areas: /*2columnas y 6 filas*/
    "cabeza cabeza"
    "menu menu"
    "productos productos"
    "servicios servicios"
    "lateral lateral"
    "pie pie";

    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 1fr 3fr 2fr 2fr 1fr;

    grid-row-gap: 0%;
   
}

header{
    grid-area: cabeza;
   
    
}

footer{
    grid-area: pie;
}

#productos{
    grid-area: productos;

}

#servicios{
    grid-area: servicios;
}

nav{
    grid-area: menu;
  
}

aside{
    grid-area: lateral;
}


/*************flex*************/


header{ 
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
  
}

nav{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}


footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

}
#redes{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 4px;
    margin-top: 3px;
}
}
/********hasta aca media queries******/

/*ANIMACIONES*/

.titulos{
    animation-name: titulos ;
    animation-duration: 5s;
}

#productos, #servicios, aside{
    animation-name: main;
    animation-duration: 10s;
}

#tituloAside{
    animation-name: aside;
    animation-duration: 10s;
}

/*linea de tiempo*/

@keyframes titulos{
    from{
        transform: translateX(-200px);
        opacity: 0;
    }

    to{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes aside{
    from{
        transform: translate(200px);
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes main{
    from{
        opacity: -2;
    }

    to{
        opacity: 1;
    }
}

/*# sourceMappingURL=estilos.css.map */
